@{
    ViewBag.Title = "Contact to us";
}
<h2>@ViewBag.Title.</h2>

<address>
    TEAM ABC BACH KHOA UNIVERSITY<br />
    CONTACT BELOW.
</address>

<address>
    <strong>HUYNH TAN PHONG:</strong>   <a href="phonght1610@gmail.com">phonght1610@gmail.com</a><br />
    <strong>DOAN DUC HUY:</strong> <a href="#">Huy@gmail.com</a><br />
    <strong>PHAM MINH NHAN:</strong> <a href="#">Nhan@gmail.com</a><br />
    <strong>LE DINH QUOC:</strong> <a href="#">Quoc@gmail.com</a><br />
    <strong>DUONG:</strong> <a href="#">Duong@gmail.com</a>
</address>